@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.backgroundContainer{
    background-color: #262a10 !important;
    margin-top: 0%;
}

.title{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: #a9714b;
}