@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.img1{
    width: 40%;
    position: absolute;
    top: 10%;
    left: 10%;
}

.containerLanding{
    height: 625px;
    margin: 0;
    padding: 0;
    background-color: #262a10;
}

.containerLanding h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 35px;
    width: 40%;
    position: absolute;
    display: flex;
    top: 40%;
    left: 45%;
    color: #a9714b;
    margin: 0px;
    padding: 20px;
}

.btnLanding{
  position: absolute;
  width: 10%;
  height: 7%;
  top: 55%;
  left: 58%;
  background: #a9714b;
  border: 2px solid #a9714b;
  border-radius: 6px;
  border: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  transition-duration: 0.4s;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}

.btnLanding:hover{
    background-color: #e8985e;
    color: white;
    text-decoration: none;
}